<ion-view view-title="CattleCalc">


  <div class="tabs-striped tabs-top has-tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" ng-click="toggleTab('purchase')" ng-class="{ 'active': purchaseTab }">
        <!-- <i class="icon ion-home"></i> -->
        <span>Purchase</span>
      </a>
      <a class="tab-item" ng-click="toggleTab('sale')" ng-class="{ 'active': !purchaseTab }">
        <!-- <i class="icon ion-star"></i> -->
        <span>Sale</span>
      </a>
    </div>
  </div>

  <ion-content>

    <div class="top-dash">
      <div class="row top-row">
        <div class="col"><span class="sub-dash">Purchase</span></div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row text-main"><span class="text-center">+8.90%</span></div>
          <div class="row"><span class="text-center sub-dash">ROI</span></div>
        </div>
        <div class="col">
          <div class="row text-main"><span class="text-center">$2.39</span></div>
          <div class="row"><span class="text-center sub-dash">Price/Head</span></div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>

