/* Empty. Add your own CSS if you like */


.bar-stable.bar.bar-header.has-tabs-top, .bar-stable.bar.bar-header {
	background: #4584f0;
}

.title.title-center.header-item, .bar-stable .button.button-clear, ion-header-bar.bar-stable.bar.bar-header.has-tabs-top h1.title, .bar-stable.bar.bar-header h1.title {
	color: white;	
}

.tab-item span {
	font-size: 1.3em;
	font-weight: bold;
}

.tabs-striped.tabs-background-positive .tabs {
	background: #4584f0;	
}

.top-dash {
	background: #dfdede;
}

.top-dash .row.top-row {
	margin-top: 49px;
}

.text-main {
	color: #4c4c4c;
	font-size: 2.5em;
}

.wide {
	width: 100%;
}

.sub-dash {
	margin-top: 15px;
    font-size: 1.2em;
    color: grey;
}

.main-dropdown {
	font-size: 1.5em;
}

a.button.active-toggle {
	color: white;
}

a.button.active-toggle.activated {
	background: #4584f0;
}

.active-toggle {
	background: #4584f0;
	color: white;
	font-weight: bold;
}





.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}



